<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="base_mesh" params="mesh_file mass com ixx iyy izz ixy ixz iyz">

    <link name="base_footprint"/>

    <link name="base_link">
        <inertial>
            <origin xyz="${com}" rpy="0 0 0"/>
            <mass value="${mass}"/>
            <inertia
                ixx="${ixx}" iyy="${iyy}" izz="${izz}"
                ixy="${ixy}" ixz="${ixz}" iyz="${iyz}"/>
        </inertial>

        <visual>
            <geometry>
                <mesh filename="${mesh_file}" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.0 0.0 "/>
            </geometry>
        </collision> 
    </link>




